[submodule "public"]
	path = public
	url = git@github.com-parkjaeil0x01:parkjaeil0x01/parkjaeil0x01.github.io
	branch = publish
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com-parkjaeil0x01:parkjaeil0x01/hugo-PaperMod
[submodule "content/post"]
	path = content/post
	url = git@github.com-parkjaeil0x01:parkjaeil0x01/til
